@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kanit:ital@1&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body p {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 200%;
}

header {
    height: 130px;
    border: 4px;
    padding: 0;
    background-color: rgb(10, 31, 31);
    position: relative;
}

/*Main Heading*/

header h1 {
    text-align: center;
    font-family: 'Barriecito', sans-serif;
    color: aliceblue;
    font-size: 400%;
    padding-top: 30px;   
}

/*Game Area*/
#game_area {
    width: 100%;
    height:731px;
    background-color: rgb(25, 63, 65);
}
/*Hangman images*/
#hangman_animation {
    padding-top: 40px;
    width: 75%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Initialise Flexbox*/
.hangman-part {
    display: flex;
    flex-direction: row;
    height: auto; 
    align-items: center;
    margin: 20px; /* Adjust as needed */
}
/*Platform man hangs from*/
#platform {
    transform: translate(-50px, 0);
    visibility:visible;
}
#platform img {
    width: 250px;
}
/*Mans Hat*/
#hat1 {
    transform: translate(-175px, -80px); 
}
#hat1 img {
    /*visibility: hidden; */
}
/*Mans head*/
#head2 {
    transform: translate(-260px, -18px); 
}
#head2 img {
    width: 60px;
    /*visibility: hidden; */ 
}
/*Mans eyes*/
#left_eye3 {
    transform: translate(-305px, -21px);
}
#left_eye3 img {
    width:13px;
    /*visibility: hidden; */ 
}
#right_eye4 {
    transform: translate(-302px, -21px); 
}
#right_eye4 img {
    width:13px;
    /*visibility: hidden; */
}
/*mans mouth*/
#mouth5 {
    transform: translate(-325px, -11px); 
}
#mouth5 img {
    width:14px;
   /*visibility: hidden; */ 
}
/*mans spine*/
#spine6 {
    transform: translate(-347px, 32px); 
}
#spine6 img {
    width:36px;
    /*visibility: hidden; */
}
/*mans limbs*/
#left_arm7 {
    transform: translate(-396px, 25px);
}
#left_arm7 img {
    width:28px;
    /*visibility: hidden; */ 
}
#right_arm8 {
    transform: translate(-388px, 25px);
}
#right_arm8 img {
    width:28px;
    /*visibility: hidden; */ 
}
#left_leg9 {
    transform: translate(-438px, 70px);
}
#left_leg9 img {
    width:18px;
    /*visibility: hidden; */ 
}
#right_leg10 {
    transform: translate(-438px, 68px);
}
#right_leg10 img {
    width:19px;
    /*visibility: hidden; */ 
}




/*Hidden word*/
#secret_word {
    width:75%;
    height: 100px;
    margin: auto;
}
#secret_word label {
    letter-spacing: 20px;
}
/*Letters to guess*/
.guess_buttons {
    width:75%;
    height: 100px;
    margin: auto;
}
.guess_buttons button {
    font-family: 'Barriecito', sans-serif;
    color: aliceblue;
    background-color: rgb(7, 40, 41);
    text-decoration:solid;
    border-radius: 3.2px;
    padding: 10px;
    border-style: solid;
    border-color: aliceblue;
    border-width:2px ;
    align-items: center;
    margin: 5px;
    font-size: 300%;
}

.guess_buttons button:hover {
    background-color: rgb(7, 40, 41);
}

/*Hidden Word*/
#secret_word {
    font-family: 'Barriecito', sans-serif;
    color: aliceblue;
    margin:auto;
    background-color: rgb(7, 40, 41);
    text-decoration:solid;
    padding: 10px;
    border-style: solid;
    border-color: aliceblue;
    text-align: center;
    font-size: 350%; 
}
/*Footer*/
footer {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    width: 100%;
    background-color: rgb(10, 31, 31);
    height: 70px;    
    bottom:0;
    position:relative;
}
#total_label {
    transform: translate(110px,0px);
}
#total_guesses {
    font-family: 'Barriecito', sans-serif;
    color: aliceblue;
    font-size: 400%;
}
#guesses_left_label {
    transform: translate(450px,0px);
}
#guesses_left {
    font-family: 'Barriecito', sans-serif;
    color: aliceblue;
    font-size: 400%;
}
footer h2 {
    bottom:0;
    left:20;
    font-size: 100%;
    position: absolute;
}
/* On screens that are 1400px set the hangman image positioning */
@media screen and (max-width: 1400px) {
/*Platform man hangs from*/
#platform {
    transform: translate(60px, 0);
}
#platform img {
    width: 250px;
}
/*Mans Hat*/
#hat1 {
    transform: translate(-65px, -80px); 
}
/*Mans head*/
#head2 {
    transform: translate(-150px, -18px); 
}
/*Mans eyes*/
#left_eye3 {
    transform: translate(-195px, -21px);
}
#right_eye4 {
    transform: translate(-192px, -21px); 
}
/*mans mouth*/
#mouth5 {
    transform: translate(-215px, -11px); 
}
/*mans spine*/
#spine6 {
    transform: translate(-237px, 32px); 
}
/*mans limbs*/
#left_arm7 {
    transform: translate(-286px, 25px);
}
#right_arm8 {
    transform: translate(-278px, 25px);
}
#left_leg9 {
    transform: translate(-328px, 70px);
}
#right_leg10 {
    transform: translate(-328px, 68px);
}
  }
  /* On screens that are 2000px set the hangman image positioning */
@media screen and (max-width: 2000px) {
    /*Platform man hangs from*/
#platform {
    transform: translate(-240px, 0);
}
#platform img {
    width: 250px;
}
/*Mans Hat*/
#hat1 {
    transform: translate(-365px, -80px); 
}
/*Mans head*/
#head2 {
    transform: translate(-450px, -18px); 
}
/*Mans eyes*/
#left_eye3 {
    transform: translate(-495px, -21px);
}
#right_eye4 {
    transform: translate(-492px, -21px); 
}
/*mans mouth*/
#mouth5 {
    transform: translate(-515px, -11px); 
}
/*mans spine*/
#spine6 {
    transform: translate(-537px, 32px); 
}
/*mans limbs*/
#left_arm7 {
    transform: translate(-586px, 25px);
}
#right_arm8 {
    transform: translate(-578px, 25px);
}
#left_leg9 {
    transform: translate(-628px, 70px);
}
#right_leg10 {
    transform: translate(-628px, 68px);
}

}
  /* On screens that are 1660px set the hangman image positioning */
@media screen and (max-width: 1660px) {
/*Platform man hangs from*/
#platform {
    transform: translate(-140px, 0);
}
/*Mans Hat*/
#hat1 {
    transform: translate(-265px, -80px); 
}
/*Mans head*/
#head2 {
    transform: translate(-350px, -18px); 
}
/*Mans eyes*/
#left_eye3 {
    transform: translate(-395px, -21px);
}

#right_eye4 {
    transform: translate(-392px, -21px); 
}
/*mans mouth*/
#mouth5 {
    transform: translate(-415px, -11px); 
}
/*mans spine*/
#spine6 {
    transform: translate(-437px, 32px); 
}
/*mans limbs*/
#left_arm7 {
    transform: translate(-486px, 25px);
}
#right_arm8 {
    transform: translate(-478px, 25px);
}
#left_leg9 {
    transform: translate(-528px, 70px);
}
#right_leg10 {
    transform: translate(-528px, 68px);
}
}
  /* On screens that are 900px set the hangman image positioning */
  @media screen and (max-width: 900px) {
    /*Platform man hangs from*/
    #platform {
        transform: translate(-140px, 0);
    }
    /*Mans Hat*/
    #hat1 {
        transform: translate(-265px, -80px); 
    }
    /*Mans head*/
    #head2 {
        transform: translate(-350px, -18px); 
    }
    /*Mans eyes*/
    #left_eye3 {
        transform: translate(-395px, -21px);
    }
    #right_eye4 {
        transform: translate(-392px, -21px); 
    }
    /*mans mouth*/
    #mouth5 {
        transform: translate(-415px, -11px); 
    }
    /*mans spine*/
    #spine6 {
        transform: translate(-437px, 32px); 
    }
    /*mans limbs*/
    #left_arm7 {
        transform: translate(-486px, 25px);
    }
    #right_arm8 {
        transform: translate(-478px, 25px);
    }
    #left_leg9 {
        transform: translate(-528px, 70px);
    }
    #right_leg10 {
        transform: translate(-528px, 68px);
    }
    }
  /* On screens that are 1550px set the hangman image positioning */
  @media screen and (max-width: 1550px) {
    #total_label {
        transform: translate(570px,-75px);
    }
    #total_guesses {
        font-family: 'Barriecito', sans-serif;
        color: aliceblue;
        font-size: 200%;
    }
    #guesses_left_label {
        transform: translate(350px,30px);
    }
    #guesses_left {
        font-family: 'Barriecito', sans-serif;
        color: aliceblue;
        font-size: 200%;
    }

}
  /* On screens that are 800px set the hangman image positioning */
  @media screen and (max-width: 800px) {
    #total_label {
        transform: translate(450px,-75px);
        font-size: 80%;
    }
/*Platform man hangs from*/
#platform {
    transform: translate(-40px, 0);
}
/*Mans Hat*/
#hat1 {
    transform: translate(-165px, -80px); 
}
/*Mans head*/
#head2 {
    transform: translate(-250px, -18px); 
}
/*Mans eyes*/
#left_eye3 {
    transform: translate(-295px, -21px);
}
#right_eye4 {
    transform: translate(-292px, -21px); 
}
/*mans mouth*/
#mouth5 {
    transform: translate(-315px, -11px); 
}
/*mans spine*/
#spine6 {
    transform: translate(-337px, 32px); 
}
/*mans limbs*/
#left_arm7 {
    transform: translate(-386px, 25px);
}
#right_arm8 {
    transform: translate(-378px, 25px);
}
#left_leg9 {
    transform: translate(-428px, 70px);
}
#right_leg10 {
    transform: translate(-428px, 68px);
}
#hidden_word {
    font-size: 50%;
}
#secret_word {
    border-style: none;
}
.guess_buttons {
    background-color: rgb(25, 63, 65);
}
.guess_buttons button {
    border-radius: 3.2px;
    padding: 5px;
    border-style: solid;
    border-color: aliceblue;
    border-width:1px ;
    align-items: center;
    margin: 2px;
    font-size: 150%;
}
#hangman_animation {
    padding-top: 80px;
}
header {
    height: 200px;
}
}
  /* On screens that are 320px set the hangman image positioning */
  @media screen and (max-width: 320px) {
    #total_label {
        transform: translate(350px,-75px);
        font-size: 70%;
    }
    #guesses_left {
        font-size: 90%;
        transform: translate(-550px,0px);
    }
    .guess_buttons {
        padding-top: 50px;
    }
    #hidden_word {
        padding: 2px;
        font-size: 50%;   
    }
    #secret_word {
        height: 100px;
    }
}