@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kanit:ital@1&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body p {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 200%;
}

header {
    height: 130px;
    border: 4px;
    padding: 0;
    background-color: rgb(10, 31, 31);
    position: relative;
}

/*Main Heading*/

header h1 {
    text-align: center;
    font-family: 'Barriecito', sans-serif;
    color: aliceblue;
    font-size: 400%;
    padding-top: 30px;   
}

/*Game Area*/
#game_area {
    width: 100%;
    height:731px;
    background-color: cadetblue;
}
/*Hangman images*/
#hangman_animation {
    width: 75%;
    height: 300px;
    margin: auto;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangman-part {
    display: flex;
    flex-direction: row;
    height: auto; 
    align-items: center;
    margin: 20px; /* Adjust as needed */
}

#platform {
transform: translate(190px,0);
}
#platform img {
    width: 250px;
}
#hat1 {
    transform: translate(65px,-80px);  
}
#head2 {
    transform: translate(-20px,-18px);
}
#head2 img {
    width: 60px;
}
#left_eye3 {
    transform: translate(-65px,-21px);

}
#left_eye3 img {
    width:13px;
}
#right_eye4 {
    transform: translate(-62px,-21px);
}
#right_eye4 img {
    width:13px;
}
#mouth5 {
    transform: translate(-83px,-11px);
}
#mouth5 img {
    width:14px;
}
#spine6 {
    transform: translate(-108px,32px);
}
#spine6 img {
    width:36px;
}
#left_arm7 {
    transform: translate(-156px,25px);
}
#left_arm7 img {
    width:28px;
}
#right_arm8 {
    transform: translate(-150px,25px);
}
#right_arm8 img {
    width:28px;
}
#left_leg9 {
    transform: translate(-200px,70px);
    
}
#left_leg9 img {
    width:18px;
}
#right_leg10 {
    transform: translate(-200px,68px);
}
#right_leg10 img {
    width:19px;
}
/*Hidden word*/
#secret_word {
    width:75%;
    height: 100px;
    margin: auto;
    background-color: orangered;
}
/*Letters to guess*/
#guess_buttons {
    width:75%;
    height: 100px;
    margin: auto;
    background-color: yellow;
}
/*Footer*/
footer {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    width: 100%;
    background-color: rgb(10, 31, 31);
    height: 70px;    
    bottom:0;
    position:relative;
}

footer h2 {
    bottom:0;
    left:20;
    font-size: 100%;
    position: absolute;
}